.marker-1--button {
    -fx-graphic: url('../icons/marker_1.png');
}
.marker-2--button {
    -fx-graphic: url('../icons/marker_2.png');
}
.imageView {
    -fx-min-width: 75%;
    -fx-max-width: 75%;
    -fx-max-height: 75%;
    -fx-background-color: gainsboro;
}

.refresh--button {
    -fx-graphic: url('../icons/refresh.png');
}